/*---------- bang-gia css ----------*/
.c-block-2{
	padding-top: 20px;
	padding-bottom: 20px;
}
.is-breadcrumb{
	padding-top: 0;
	padding-bottom: 0;
}
.l-banner__detail {
	height: 220px;
	position: relative;
	z-index: 1;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	margin-bottom: 15px;
	&:before{
		content: '';
		position: absolute;
		z-index: 2;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba($color-black, 0.5);
	}
	.c-caption{
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		width: 100%;
		z-index: 2222;
		.container{
			height: 100%;
		}
		.b-table{
			width: 100%;
			height: 100%;
			&__row{
				display: table-row;
				position: relative;
			}
			&__title{
				z-index: 9999;
				width: 100%;
				height: 100%;
				display: flex;
				justify-content: center;
				align-items: center;
				flex-direction: column;
				font-size: 20px;
				color: $color-white;
				font-weight: 700;
				text-transform: uppercase;
				z-index: 2;
			}
			&__cell{
				position: relative;
				vertical-align: bottom;
				padding-bottom: 30px;
				color: $color-white;
				z-index: 3;
			}
		}
	}
}
.c-box__table{
	overflow-x: scroll;
	overflow-y: hidden;
	.c-box__table-1{
		width: 1170px;
		max-width: 100%;
		margin-bottom: 20px;
		border: 1px solid rgba($color-gray, 0.5);
		thead{
			background-color: rgba($color-gray, 0.2);
			tr{
				th{
					padding: 20px 0;
					border: 1px solid rgba($color-gray, 0.5);
					text-align: center;
					b{
						display: block;
						color: $color-primary;
						font-size: 24px;
					}
					hr{
						width: 80%;
					}
				}
			}
		}
		tbody{
			tr{
				td{
					padding: 5px 0;
					border: 1px solid rgba($color-gray, 0.5);
					text-align: center;
					&.is-yes{
						color: $color-green;
						font-weight: 700;
					}
					&.is-no{
						color: $color-red;
						font-weight: 700;
					}
					&.is-default{
						font-weight: 700;
					}
					&.is-primary{
						color: $color-primary;
						font-weight: 700;
					}
				}
			}
		}
		.thFirst{
			padding-left: 10px;
			text-align: left;
			&.is-bold{
				font-weight: 700;
			}
		}
	}
}
.c-box__special{
	padding: 40px 40px;
	border: 1px solid $color-primary;
	@include border-radius(10px);
	&__img{
		img{
			width: 100%;
			margin: auto;
			display: block;
		}
	}
}
.price-special-title{
	margin-bottom: 0 !important;
	padding-bottom: 0 !important;
	a{
		color: $color-red;
		&:hover{
			color: $color-primary;
			text-decoration: none;
		}
	}
}
//bang-gia responsive css
@media (min-width: $screen-sm-min){//mobile lanscape

}
@media (min-width: $screen-md-min){//ipad portrait
	.l-banner__detail {
		background-size: cover;
		background-position: center center;
		width: 100%;
		height: 365px;
		position: relative;
		z-index: 1;
		.c-caption{
			.b-table{
				&__title{
					font-size: 40px;
					padding-top: 30px;
				}
				&__cell{
					vertical-align: bottom;
					padding-bottom: 30px;
					color: $color-white;
				}
			}
		}
	}
	.c-box__special{
		max-width: 768px;
		margin: auto;
		&__img{
			img{
				margin: auto;
				display: block;
			}
		}
	}
}
@media (min-width: $screen-lg-min){//ipad lanscape & pc 1024x768px

}
@media (min-width: $screen-xl-min){//pc & mac 1280px grow up
	.c-box__table{
		overflow-x: hidden;
	}
}
//end bang-gia responsive css
/*---------- end bang-gia css ----------*/