/*---------- component css ----------*/
.c-banner {
  position: relative;
  z-index: 1;
  display: block;
  overflow-x: hidden;
  &__item {
    position: relative;
    z-index: 2;
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    top: 0;
    left: 0;
    right: 0;
    padding-top: 500px;
  }
  &__box {
    position: absolute;
    z-index: 2;
    top: 130px;
    bottom: 0;
    left: 0;
    right: 0;
    h1 {
      font-size: 22px;
      color: $color-white;
      font-weight: 600;
    }
    h2 {
      font-size: 16px;
      color: $color-white;
      font-weight: 300;
      margin-bottom: 10px;
    }
    p {
      font-size: 14px;
      color: $color-white;
      font-weight: 300;
    }
  }
  &__qr {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    h3 {
      color: $color-white;
      font-size: 20px;
      float: left;
      margin-right: 50px;
    }
    img {
      max-width: 85px;
    }
  }
  &__download {
    a {
      display: block;
      float: left;
      margin-right: 20px;
      img {
        max-width: 125px;
      }
    }
  }
  &__img {
    display: none;
  }
}
.c-block {
  position: relative;
  padding: 50px 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  overflow-x: hidden;
}
.c-box {
  &__title {
    position: relative;
    z-index: 1;
    font-size: 20px;
    color: $color-text;
    font-weight: 700;
    text-align: center;
    padding-bottom: 20px;
    margin-bottom: 20px;
    &:before {
      content: "";
      position: absolute;
      z-index: 2;
      bottom: 0;
      background-image: url('../images/mpoint/line-1.png');
      background-size: cover;
      background-position: center center;
      width: 100px;
      height: 10px;
      left: 50%;
      transform: translateX(-50%);
    }
    &.is-white {
      color: $color-white;
      text-align: left;
      &:before {
        background-image: url('../images/mpoint/line-2.png');
        left: 0;
        transform: translateX(0);
      }
    }
  }
  &__des{
    display: block;
    margin: auto;
    font-weight: 300;
    font-size: 14px;
    text-align: center;
    max-width: 800px;
    margin-bottom: 20px;
  }
}
.c-background {
  overflow-x: hidden;
  margin-bottom: 50px;
  img {
    width: 100%;
  }
}
//component responsive css
@media (min-width: $screen-sm-min) { //mobile lanscape
}
@media (min-width: $screen-md-min) { //ipad portrait
  .c-banner {
    &__item {
      padding-top: percentage(1220/1920);
    }
    &__outer {
      width: 50%;
    }
    &__box {
      top: 170px;
      h1 {
        font-size: 22px;
      }
      h2 {
        font-size: 16px;
      }
      p {
        font-size: 14px;
      }
    }
    &__img {
      display: block;
      position: absolute;
      z-index: 1;
      top: 90px;
      right: 135px;
      left: 0;
      img {
        float: right;
        max-width: 180px;
      }
    }
  }
  .c-block{
    background-size: 100% 100%;
  }
}
@media (min-width: $screen-lg-min) { //ipad lanscape & pc 1024x768px
  .c-banner {
    position: relative;
    z-index: 1;
    display: block;
    &__item {
      padding-top: percentage(1310/1920);
    }
    &__box {
      position: absolute;
      z-index: 2;
      top: 230px;
      bottom: 0;
      left: 0;
      right: 0;
      h1 {
        font-size: 32px;
      }
      h2 {
        font-size: 22px;
      }
      p {
        font-size: 16px;
        margin-bottom: 30px;
      }
    }
    &__qr {
      margin-bottom: 30px;
      h3 {
        font-size: 24px;
        margin-right: 60px;
      }
      img {
        max-width: 120px;
      }
    }
    &__download {
      a {
        margin-right: 20px;
        img {
          max-width: 170px;
        }
      }
    }
    &__img {
      top: 120px;
      right: 135px;
      img {
        float: right;
        max-width: 240px;
      }
    }
  }
  .c-block {
    padding: 115px 0;
  }
  .c-background {
    margin-bottom: 115px;
  }
  .c-box {
    &__title {
      font-size: 28px;
      padding-bottom: 30px;
      margin-bottom: 30px;
      &:before {
        width: 150px;
        height: 14px;
      }
    }
    &__des{
      font-size: 16px;
    }
  }
}
@media (min-width: $screen-xl-min) { //pc & mac 1280px grow up
  .c-banner {
    &__item {
      padding-top: percentage(920/1920);
    }
  }
}
@media (min-width: $screen-xxl-min) { //pc & mac 1900px grow up
  .c-banner {
    &__box {
      top: 375px;
      p {
        margin-bottom: 30px;
      }
    }
    &__qr {
      margin-bottom: 30px;
      h3 {
      }
      img {
        max-width: 170px;
      }
    }
    &__download {
      a {
        img {
          max-width: 200px;
        }
      }
    }
    &__img {
      top: 150px;
      right: 135px;
      img {
        float: right;
        max-width: 320px;
      }
    }
  }
}
//end component responsive css
/*---------- end component css ----------*/