/*---------- example css ----------*/
.l-footer {
  padding-bottom: 60px;
  @include linear-gradient(to bottom, $color-primary-1, $color-primary);
}
.c-footer-main{
  margin-bottom: 40px;
}
.c-footer-bottom{
  text-align: center;
  ul{
    margin: 0;
    padding: 0;
    list-style: none;
    li{
      display: inline-block;
      padding-right: 10px;
      padding-left: 10px;
      border-left: 1px solid $color-white;
      margin-bottom: 20px;
      &:first-child{
        padding-left: 0;
        border: none;
      }
      &:last-child{
        padding-right: 0;
      }
      a{
        color: $color-white;
        font-weight: 300;
        text-decoration: none;
      }
    }
  }
  .row{
    .col-md-4{
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
    }
  }
}
.c-footer-logo {
  position: relative;
  z-index: 1;
  padding-top: 50px;
  margin-bottom: 50px;
  &:before {
    content: '';
    position: absolute;
    z-index: 2;
    top: 25px;
    left: -10px;
    width: 150px;
    height: 96px;
    background-image: url('../images/mpoint/cloud-1.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
  a {
    display: block;
    margin-left: 25px;
    img {
      position: relative;
      z-index: 3;
      max-width: 80px;
      max-height: 50px;
    }
  }
}
.c-footer-text {
  color: $color-white;
  .b-maincontent {
    margin-bottom: 20px;
    font-weight: 300;
    a{
      @include transition-default;
      color: $color-white;
      text-decoration: none;
    }
  }
}
.c-footer-button {
  text-align: center;
  a {
    display: block;
    color: $color-white;
    text-decoration: none;
    padding: 5px 0;
    background: $color-link-1;
    font-weight: 700;
  }
}
.c-footer-label {
  font-size: 16px;
  color: $color-white;
  font-weight: 700;
  &.is-top{
    padding-top: 20px;
  }
  i {
    float: right;
  }
}
.c-footer-content {
  padding-top: 15px;
  display: none;
  font-weight: 300;
  .c-footer-label{
    padding-bottom: 20px;
  }
}
.c-footer-list {
  margin: 0;
  padding: 0;
  list-style: none;
  li {
    padding-bottom: 15px;
    a{
      color: $color-white;
      text-decoration: none;
    }
  }
}
.c-footer-icon{
  ul{
    margin: 0;
    padding: 0;
    list-style: none;
    li{
      padding-bottom: 15px;
      display: flex;
      align-items: center;
    }
  }
  &__img{
    padding: 20px;
    width: 26px;
    height: 26px;
    background: $color-white;
    display: flex;
    align-items: center;
    justify-content: center;
    @include border-radius(50%);
    float: left;
    margin-right: 15px;
    img{
      max-width: 26px;
      max-height: 21px;
    }
  }
  &__content{
    p{
      color: $color-white;
      font-weight: 700;
      margin: 0;
      text-transform: uppercase;
    }
    a{
      color: $color-white;
      font-weight: 300;
      text-decoration: none;
    }
  }
}
.c-footer-app{
  text-align: center;
  span{
    display: block;
    color: $color-white;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
  }
  &__download{
    margin-bottom: 20px;
    a{
      display: inline-block;
      padding: 0 3px;
      img{
        max-width: 120px;
      }
    }
  }
}
.c-copyright{
  text-align: center;
  color: $color-white;
  font-weight: 300;
}
.c-gotop{
  width: 33px;
  height: 33px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $color-primary-1;
  border: 2px solid $color-white;
  @include border-radius(5px);
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
  cursor: pointer;
}
//example responsive css
@media (min-width: $screen-sm-min) { //mobile lanscape
}
@media (min-width: $screen-md-min) { //ipad portrait
  .c-footer-content {
    display: block !important;
  }
  .c-footer-label {
    &.is-top-2{
      padding-top: 5px;
    }
    i{
      display: none;
    }
  }
  .c-footer-bottom{
    text-align: left;
    ul{
      li{
        margin-bottom: 0px;
      }
    }
    .row{
      .col-md-4{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
      }
    }
  }
  .c-footer-app{
    text-align: center;
    span{
      display: block;
      color: $color-white;
      font-size: 20px;
      font-weight: 700;
      margin-bottom: 10px;
    }
    &__download{
      margin-bottom: 0px;
      a{
        display: inline-block;
        padding: 0 3px;
        margin-bottom: 10px;
        &:last-child{
          margin-bottom: 0;
        }
        img{
          max-width: 120px;
        }
      }
    }
  }
  .c-copyright{
    text-align: right;
  }
}
@media (min-width: $screen-lg-min) { //ipad lanscape & pc 1024x768px
  .c-footer-logo {
    padding-top: 80px;
    margin-bottom: 80px;
    &:before {
      top: 30px;
      left: -62px;
      width: 240px;
      height: 154px;
    }
    a {
      margin-left: 0px;
      img {
        max-width: 120px;
        max-height: 90px;
      }
    }
  }
  .c-footer-text {
    .b-maincontent {
      p {
        font-size: 16px;
        line-height: 24px;
      }
      a{
        &:hover{
          color: $color-secondary;
        }
      }
    }
  }
  .c-footer-label {
    font-size: 18px;
    &.is-top{
      padding-top: 125px;
    }
    &.is-top-2{
      padding-top: 105px;
    }
  }
  .c-footer-button {
    a {
      @include transition-default;
      font-size: 16px;
      &:hover{
        background: $color-secondary;
      }
    }
  }
  .c-footer-content {
    padding-top: 20px;
  }
  .c-footer-list {
    li {
      padding-bottom: 20px;
      a{
        @include transition-default;
        font-size: 16px;
        &:hover{
          color: $color-secondary;
        }
      }
    }
  }
  .c-footer-icon{
    &__img{
      padding: 25px;
    }
    &__content{
      p{
        font-size: 16px;
      }
      a{
        @include transition-default;
        font-size: 16px;
        &:hover{
          color: $color-secondary;
        }
      }
    }
  }
  .c-footer-app{
    &__download{
      margin-bottom: 0px;
      a{
        margin-bottom: 0px;
      }
    }
  }
}
@media (min-width: $screen-xl-min) { //pc & mac 1280px grow up
}
//end example responsive css
/*---------- end example css ----------*/