/*---------- example css ----------*/
.l-nav{
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  height: 170px;
}
.admin-bar{
  .l-nav{
    top: 40px;
  }
}
.c-logo{
  position: relative;
  z-index: 1;
  float: left;
  padding-top: 50px;
  &:before{
    content: '';
    position: absolute;
    z-index: 2;
    top: 25px;
    left: -10px;
    width: 150px;
    height: 96px;
    background-image: url('../images/mpoint/cloud-1.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
  a{
    display: block;
    margin-left: 25px;
    img{
      position: relative;
      z-index: 3;
      max-width: 80px;
      max-height: 50px;
    }
  }
}
//example responsive css
@media (min-width: $screen-sm-min){//mobile lanscape

}
@media (min-width: $screen-md-min){//ipad portrait
  .c-logo{
    padding-top: 60px;
    &:before{
      top: 25px;
      left: -10px;
      width: 205px;
      height: 131px;
    }
    a{
      margin-left: 30px;
      img{
        max-width: 130px;
        max-height: 65px;
      }
    }
  }
}
@media (min-width: $screen-lg-min){//ipad lanscape & pc 1024x768px
  .c-logo{
    padding-top: 80px;
    &:before{
      top: 25px;
      left: -10px;
      width: 305px;
      height: 195px;
    }
    a{
      margin-left: 52px;
      img{
        max-width: 176px;
        max-height: 90px;
      }
    }
  }
}
@media (min-width: $screen-xl-min){//pc & mac 1280px grow up

}
@media (min-width: $screen-xxl-min){//pc & mac 1900px grow up
  .c-logo{
    padding-top: 145px;
    &:before{
      top: 65px;
      left: -10px;
      width: 448px;
      height: 288px;
    }
    a{
      margin-left: 90px;
      img{
        max-width: 255px;
        max-height: 112px;
      }
    }
  }
}
//end example responsive css
/*---------- end example css ----------*/