/*---------- example css ----------*/
.c-menu {
  float: right;
  padding-top: 25px;
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      margin-bottom: 10px;
      i {
        margin-right: 5px;
      }
      a {
        text-align: center;
        @include transition-default;
        text-decoration: none;
        @include border-radius(20px);
        padding: 5px 15px;
        border: 2px solid $color-white;
        color: $color-white;
        display: block;
        background: rgba($color-primary, 0.5);
      }
    }
  }
}
//example responsive css
@media (min-width: $screen-sm-min) { //mobile lanscape
}
@media (min-width: $screen-md-min) { //ipad portrait
  .c-menu {
    padding-top: 35px;
    ul {
      li {
        display: inline-block;
        margin-left: 10px;
        a {
          width: 150px;
          @include transition-default;
          text-decoration: none;
          @include border-radius(20px);
          padding: 5px 15px;
          border: 2px solid $color-white;
          color: $color-white;
          display: block;
          background: rgba($color-primary, 0.5);
        }
      }
    }
  }
}
@media (min-width: $screen-lg-min) { //ipad lanscape & pc 1024x768px
  .c-menu {
    ul {
      li {
        a {
          font-size: 16px;
          margin-left: 20px;
          &:hover {
            background: $color-secondary;
          }
        }
      }
    }
  }
}
@media (min-width: $screen-xl-min) { //pc & mac 1280px grow up
}
@media (min-width: $screen-xxl-min) { //pc & mac 1900px grow up
  .c-menu {
    padding-top: 70px;
  }
}
//end example responsive css
/*---------- end example css ----------*/