/*---------- sprite css ----------*/
[class*="icon12"]{
  width:12px;
  height:12px;
  display:inline-block;
  vertical-align: middle;
}
[class*="icon16"]{
	width:16px;
	height:16px;
	display:inline-block;
	vertical-align:middle;
}
[class*="icon20"]{
  width:20px;
  height:20px;
  display:inline-block;
  vertical-align:middle;
}
[class*="icon24"]{
	width:24px;
	height:24px;
	display:inline-block;
	vertical-align:middle;
}
[class*="icon32"]{
	width:32px;
	height:32px;
	display:inline-block;
	vertical-align:middle;
}
[class*="icon36"]{
  width:36px;
  height:36px;
  display:inline-block;
  vertical-align:middle;
}
[class*="icon48"]{
  width:48px;
  height:48px;
  display:inline-block;
  vertical-align:middle;
}
[class*="icon64"]{
  width:64px;
  height:64px;
  display:inline-block;
  vertical-align:middle;
}

.close-btn{
    background: url("../images/mpoint/close.png") no-repeat center center;
    background-size: cover;
    width: 16px;
    height: 16px;
    display: inline-block;
}

.to-top{
  background: url("../images/mpoint/to-top.png") no-repeat center center;
  background-size: cover;
  width: 18px;
  height: 9px;
  display: inline-block;
}
/*---------- end sprite css ----------*/