﻿//color base
$color-white: #fff;
$color-blue: #4dc4e3;

//color site
$color-bg: $color-white;
$color-bg2: #ececec;
$color-link: $color-blue;
$color-link-hover: #0000ff;
$color-text: #333;
$color-border: #ddd;
$color-time: #999;
$color-link-voted: #FFD965;
$color-bg-voted: #92D050;
$color-shadow-1: #202763;

//color main
$color-primary: #329dc9;
$color-secondary: #ff5c00;
$color-info: #59ceee;
//$color-success: #28a745;
//$color-warning: #ffc107;
//$color-danger: #dc3545;
//$color-light: #f8f9fa;
//$color-dark: #343a40;

//color list
$color-black: #000;
$color-text: #2D2D2D;
$color-primary-1: #00c7bb;
$color-link-1: #0f7c90;
//$color-indigo: #6610f2;
//$color-purple: #1a0467;
//$color-pink: #e83e8c;
//$color-red: #dc3545;
//$color-orange: #fd7e14;
//$color-yellow: #ffc107;
//$color-green: #28a745;
//$color-teal: #20c997;
//$color-cyan: #17a2b8;
$color-gray: #f4f4f4;
$color-gray-popup: #e0e0e0;
$color-gray-bg: #7c7c7e;
//$color-gray-dark: #343a40;

//width
$container-sm: 576px;
$container-sm-number: 576;
$container-md: 738px;
$container-md-number: 738;
$container-lg: 970px;
$container-lg-number: 970;
$container-xl: 1140px;
$container-xl-number: 1140;
$container-xxl: 1200px;
$container-xxl-number: 1200;

//grid size
$screen-xs: 0;
$screen-xs-min: $screen-xs;
$screen-sm: 576px;
$screen-sm-min: $screen-sm;
$screen-md: 768px;
$screen-md-min: $screen-md;
$screen-lg: 992px;
$screen-lg-min: $screen-lg;
$screen-xl: 1200px;
$screen-xl-min: $screen-xl;
$screen-xxl: 1900px;
$screen-xxl-min: $screen-xxl;

//grid size max
$screen-sm-max: ($screen-md - 1);
$screen-md-max: ($screen-lg - 1);
$screen-lg-max: ($screen-xl - 1);

//font
$font-lato: 'Lato',Arial,"Helvetica Neue",Helvetica,sans-serif;
$font-roboto: 'Roboto',Arial,"Helvetica Neue",Helvetica,sans-serif;
$font-roboto-condensed: 'Roboto Condensed','Roboto',Arial;
$font-open-sans: 'OpenSans';
$font-awesome: 'FontAwesome';
$font-awesome-5-free: 'Font Awesome 5 Free';
$font-site: $font-open-sans;

//font size
$font-size-xs: 14px;
$line-height-xs: 20px;
$font-size-sm: 14px;
$line-height-sm: 20px;