/*---------- example css ----------*/
.c-logo-list {
  padding-bottom: 1px;
  margin-bottom: 20px;
  ul {
    list-style: none;
    padding: 0;
    margin: 0 -10px;
    // display: flex;
    // margin: auto;
    // justify-content: center;
    li {
      float: left;
      width: 50%;
      padding: 0 10px;
      margin-bottom: 10px;
    }
  }
}
.c-logo-list-item {
  position: relative;
  z-index: 1;
  padding-top: percentage(400/400);
  margin-right: -1px;
  margin-bottom: -1px;
  &__inner {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
  }
}
.c-logo-more {
  &__btn {
    display: block;
    margin: auto;
    color: $color-text;
    font-weight: 600;
    text-align: center;
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 16px;
    padding-bottom: 20px;
    i {
      margin-left: 5px;
    }
    &:focus {
      outline: none;
    }
  }
}
.c-logo-arcordian {
  display: none;
}
.c-logo-arcordian-btn{
  &.fa-angle-down{
    &:before{
      content: '';
    }
    &:after{
      content: '';
      position: absolute;
      z-index: 2;
      top: 50%;
      margin-top: -7px;
      width: 30px;
      height: 14px;
      right: 0;
      background-image: url('../images/mpoint/angle-down.png');
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat;
    }
  }
  &.fa-angle-up{
    &:before{
      content: '';
    }
    &:after{
      content: '';
      position: absolute;
      z-index: 2;
      top: 14px;
      width: 30px;
      height: 14px;
      right: 0;
      background-image: url('../images/mpoint/angle-up.png');
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat;
    }
  }
}
.c-logo-arcordian-menu {
  max-width: 780px;
  margin: auto;
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      @include transition-default;
      position: relative;
      z-index: 1;
      padding-top: 15px;
      padding-bottom: 15px;
      border-bottom: 2px solid $color-primary;
      &.mobile-active{
        border-bottom: 2px solid transparent;
      }
      .c-dropdown-arcordian {
        display: none;
      }
      .fa{
        position: absolute;
        z-index: 2;
        top: 0;
        right: 0;
        left: 0;
        height: 51px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
      }
      a{
        color: $color-primary;
        text-decoration: none;
      }
    }
  }
}
.c-dropdown-arcordian{
  ul{
    li{
      border-bottom: none;
    }
  }
}
//example responsive css
@media (min-width: $screen-sm-min) { //mobile lanscape
}
@media (min-width: $screen-md-min) { //ipad portrait
  .c-logo-list {
    ul {
      li {
        width: percentage(1/3);
      }
    }
  }
  .c-logo-list-item {
    padding-top: percentage(200/400);
  }
  .c-logo-arcordian-menu {
    ul {
      li {
        padding-top: 20px;
        padding-bottom: 20px;
        font-size: 16px;
        .fa{
          height: 64px;
        }
      }
    }
  }
}
@media (min-width: $screen-lg-min) { //ipad lanscape & pc 1024x768px
  .c-logo-list {
    ul {
      li {
        width: percentage(1/4);
      }
    }
  }
}
@media (min-width: $screen-xl-min) { //pc & mac 1280px grow up
}
//end example responsive css
/*---------- end example css ----------*/