/*---------- example css ----------*/
.c-landing-download{
  @include border-radius(50px 0 50px 50px);
  background: $color-info;
  width: percentage(1/1);
  padding-left: 15px;
  position: relative;
  z-index: 1;
  &__title{
    font-size: 20px;
    color: $color-white;
    font-weight: 700;
    margin-bottom: 15px;
  }
  &__des{
    font-size: 14px;
    color: $color-white;
    margin-bottom: 15px;
  }
  &__logo{
    a{
      display: inline-block;
      margin-right: 30px;
      img{
        max-width: 49px;
        max-height: 49px;
      }
    }
  }
  &__left{
    padding-top: 60px;
    padding-bottom: 60px;
  }
  &__right{
    display: none;
  }
}
//example responsive css
@media (min-width: $screen-sm-min){//mobile lanscape

}
@media (min-width: $screen-md-min){//ipad portrait
  .c-landing-download{
    float: right;
    max-width: 994px;
    padding-left: 50px;
    &__left{
      float: left;
      width: calc(100% - 424px);
    }
    &__right{
      float: right;
      display: block;
      margin-right: 40px;
      margin-top: -20px;
      margin-bottom: -20px;
      img{
        max-width: 384px;
        -webkit-filter: drop-shadow(40px 40px 5px rgba($color-black, 0.2));
        filter: drop-shadow(40px 40px 5px rgba($color-black, 0.2));
      }
    }
  }
}
@media (min-width: $screen-lg-min){//ipad lanscape & pc 1024x768px
  .c-landing-download{
    &__left{
      float: left;
      width: calc(100% - 500px);
    }
    &__right{
      margin-right: 100px;
    }
    &__title{
      font-size: 28px;
      margin-bottom: 20px;
    }
    &__des{
      font-size: 16px;
      margin-bottom: 20px;
    }
  }
}
@media (min-width: $screen-xl-min){//pc & mac 1280px grow up

}
//end example responsive css
/*---------- end example css ----------*/