/*---------- example css ----------*/
.c-landing-email {
  padding: 30px 0;
  background: $color-gray-bg;
  &__title{
    font-size: 20px;
    color: $color-white;
    font-weight: 700;
    text-align: center;
    margin-bottom: 15px;
  }
  &__des{
    display: block;
    margin: auto;
    text-align: center;
    color: $color-white;
    max-width: 850px;
    margin-bottom: 15px;
  }
  &__form{
    max-width: 450px;
    display: block;
    margin: auto;
    .form-group{
      position: relative;
      z-index: 1;
      @include border-radius(50px);
      overflow: hidden;
      br{
        display: none;
      }
      .form-control{
        height: 45px;
        padding-left: 25px;
      }
    }
    .btn{
      position: absolute;
      z-index: 2;
      height: 45px;
      width: 45px;
      top: 0;
      right: 0;
      @include border-radius(50%);
      color: $color-white;
      background: $color-primary-1;
      &:focus{
        outline: none;
        border: none;
      }
    }
  }
}
.wpcf7-response-output{
  color: $color-white;
}
//example responsive css
@media (min-width: $screen-sm-min) { //mobile lanscape
}
@media (min-width: $screen-md-min) { //ipad portrait
}
@media (min-width: $screen-lg-min) { //ipad lanscape & pc 1024x768px
  .c-landing-email {
    padding: 60px 0;
    &__title{
      margin-bottom: 30px;
      font-size: 28px;
    }
    &__des{
      font-size: 16px;
      margin-bottom: 30px;
    }
  }
}
@media (min-width: $screen-xl-min) { //pc & mac 1280px grow up
}
//end example responsive css
/*---------- end example css ----------*/