/*---------- example css ----------*/
.c-landing-grid{
  ul{
    margin: 0;
    padding: 0;
    list-style: none;
    li{
      padding: 25px;
      background: $color-gray;
      @include border-radius(50%);
      img{
        width: auto !important;
        margin-bottom: 20px;
      }
      span{
        display: block;
        font-size: 16px;
        text-align: center;
        font-weight: 600;
      }
    }
  }
  &__outer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}
//example responsive css
@media (min-width: $screen-sm-min){//mobile lanscape

}
@media (min-width: $screen-md-min){//ipad portrait

}
@media (min-width: $screen-lg-min){//ipad lanscape & pc 1024x768px

}
@media (min-width: $screen-xl-min){//pc & mac 1280px grow up

}
//end example responsive css
/*---------- end example css ----------*/