/*---------- example css ----------*/
.c-popup-bg{
  padding-top: percentage(1060/1365);
  position: relative;
  z-index: 1;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  cursor: pointer;
  &:before{
    content: '';
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba($color-black, 0.2);
  }
  &__title{
    position: absolute;
    z-index: 3;
    top: 10%;
    .top{
      display: block;
      font-size: 20px;
      color: $color-white;
      font-weight: 700;
    }
    .bottom{
      display: block;
      font-size: 20px;
      color: $color-primary;
      font-weight: 700;
    }
  }
}
.c-popup{
  .modal-content{
    background: $color-gray-popup;
  }
  .modal-header{
    position: relative;
    z-index: 1;
    text-align: center;
    border: none;
    .modal-title{
      display: block;
      margin: auto;
      font-size: 18px;
      width: 100%;
      padding-bottom: 20px;
      border-bottom: 1px solid $color-white;
      font-weight: 700;
    }
    .close{
      position: absolute;
      z-index: 2;
      right: 30px;
      top: -8px;
      background: $color-white;
      opacity: 1;
      padding: 10px 14px;
      @include border-radius(50%);
      @include box-shadow(2px 2px 6px rgba($color-black, 0.5));
      &:focus{
        outline: none;
      }
    }
  }
}
//example responsive css
@media (min-width: $screen-sm-min){//mobile lanscape

}
@media (min-width: $screen-md-min){//ipad portrait
  .c-popup-bg{
    padding-top: percentage(660/1365);
  }
}
@media (min-width: $screen-lg-min){//ipad lanscape & pc 1024x768px
  .c-popup-bg{
    &__title{
      .top{
        font-size: 28px;
      }
      .bottom{
        font-size: 28px;
      }
    }
  }
  .c-popup{
    .modal-body{
      padding-left: 80px;
      padding-right: 80px;
      padding-bottom: 80px;
    }
  }
}
@media (min-width: $screen-xl-min){//pc & mac 1280px grow up

}
//end example responsive css
/*---------- end example css ----------*/