/*---------- example css ----------*/
.c-landing-smart{
  .col-md-3{
    display: none;
  }
  &__list{
    padding: 50px 0;
    ul{
      margin: 0;
      padding: 0;
      list-style: none;
      max-width: 610px;
      li{
        position: relative;
        z-index: 1;
        color: $color-white;
        padding-left: 30px;
        margin-bottom: 15px;
        &:before{
          content: '';
          position: absolute;
          z-index: 2;
          top: 4px;
          left: 0;
          background-image: url('../images/mpoint/tick-1.png');
          width: 16px;
          height: 17px;
        }
        p{
          font-size: 16px;
        }
        span{
          font-size: 12px;
        }
      }
    }
  }
}
//example responsive css
@media (min-width: $screen-sm-min){//mobile lanscape

}
@media (min-width: $screen-md-min){//ipad portrait
  .c-landing-smart {
    .col-md-3 {
      display: block;
      img{
        max-width: 160px;
      }
    }
    &__list{
      padding: 25px 0;
      ul{
        li{
          width: percentage(1/2);
          float: left;
          &:before{
            content: '';
            position: absolute;
            z-index: 2;
            top: 4px;
            left: 0;
            background-image: url('../images/mpoint/tick-1.png');
            width: 16px;
            height: 17px;
          }
          p{
            font-size: 16px;
          }
          span{
            font-size: 12px;
          }
        }
      }
    }
  }
}
@media (min-width: $screen-lg-min){//ipad lanscape & pc 1024x768px

}
@media (min-width: $screen-xl-min){//pc & mac 1280px grow up

}
//end example responsive css
/*---------- end example css ----------*/