/*---------- example css ----------*/
.c-landing-two{
  &__item{
    position: relative;
    z-index: 1;
    margin-bottom: 0px;
    &.is-blue{
      &:before{
        content: '';
        position: absolute;
        z-index: -1;
        top: 0px;
        left: 0;
        bottom: 0;
        right: 0;
        background-image: url(../images/mpoint/bg-blue.png);
        background-size: auto 100%;
        background-repeat: no-repeat;
        background-position: center center;
      }
    }
    &:first-child{
      .c-landing-two__content{
        &__title{
          color: $color-white;
        }
        ul{
          li{
            color: $color-white;
            &:before{
              background-image: url('../images/mpoint/tick-1.png');
            }
          }
        }
      }
    }
    &:nth-child(2){
      .c-landing-two__content{
        height: auto;
        margin-bottom: 50px;
      }
    }
    &:nth-child(3){
      .c-landing-two__content{
        height: auto;
        margin-bottom: 25px;
      }
    }
  }
  &__img{
    margin-bottom: 20px;
    img{
      width: 100%;
    }
  }
  &__content{
    width: 100%;
    text-align: right;
    position: relative;
    z-index: 1;
    height: 415px;
    max-width: 345px;
    &__title{
      position: relative;
      z-index: 3;
      font-size: 20px;
      color: $color-black;
      font-weight: 700;
      margin-bottom: 40px;
    }
    ul{
      position: relative;
      z-index: 3;
      margin: 0;
      padding: 0;
      list-style: none;
      li{
        position: relative;
        z-index: 1;
        padding-right: 30px;
        margin-bottom: 10px;
        &:before{
          content: '';
          position: absolute;
          z-index: 2;
          top: 4px;
          right: 0;
          background-image: url('../images/mpoint/tick-2.png');
          width: 16px;
          height: 17px;
        }
      }
    }
  }
}
//example responsive css
@media (min-width: $screen-sm-min){//mobile lanscape

}
@media (min-width: $screen-md-min){//ipad portrait
  .c-landing-two{
    &__item{
      &.is-blue{
        &:before{
          top: -45px;
          left: -135px;
          bottom: 0;
          right: 47%;
        }
      }
      &:nth-child(2){
        .c-landing-two__content{
          height: auto;
          float: right;
          &__title{
            text-align: left;
            color: $color-black;
          }
          ul{
            li{
              text-align: left;
              color: $color-black;
              padding-left: 30px;
              padding-right: 0;
              &:before{
                background-image: url('../images/mpoint/tick-3.png');
                right: auto;
                left: 0;
              }
            }
          }
        }
        .c-landing-two__img{
          float: left;
        }
      }
      &:nth-child(3){
        .c-landing-two__content{
          ul{
            li{
              &:before{
                background-image: url('../images/mpoint/tick-2.png');
              }
            }
          }
        }
      }
      &:last-child{
        margin-bottom: 0px;
      }
    }
    &__img{
      float: right;
      img{
        max-width: 400px;
      }
    }
    &__content{
      width: 40%;
      height: 390px;
      float: left;
    }
  }
}
@media (min-width: $screen-lg-min){//ipad lanscape & pc 1024x768px
  .c-landing-two{
    &__item{
      margin-bottom: 70px;
      &.is-blue{
        &:before{
          top: -110px;
          left: auto;
          bottom: 0px;
          right: 55%;
          width: 580px;
        }
      }
    }
    &__img{
      margin-top: -50px;
      float: right;
      img{
        width: 100%;
        max-width: 500px;
      }
    }
  }
}
@media (min-width: $screen-xl-min){//pc & mac 1280px grow up
  .c-landing-two{
    &__item{
      &.is-blue{
        &:before{
          top: -110px;
          left: -5%;
          bottom: 0px;
          right: 62%;
          width: auto;
        }
      }
    }
    &__img{
      img{
        width: 100%;
        max-width: 550px;
      }
    }
    &__content{
      width: 40%;
      text-align: right;
      height: 390px;
      position: relative;
      z-index: 1;
      float: left;
    }
  }
}
@media (min-width: 1440px){//pc & mac 1280px grow up
  .c-landing-two{
    &__item{
      &.is-blue{
        &:before{
          top: -110px;
          left: -2%;
          bottom: 0px;
          right: 62%;
          width: auto;
        }
      }
    }
    &__img{
      img{
        width: 100%;
        max-width: 550px;
      }
    }
  }
}
@media (min-width: $screen-xxl-min) { //pc & mac 1280px grow up
  .c-landing-two{
    &__item{
      position: relative;
      z-index: 1;
      &.is-blue{
        &:before{
          top: -122px;
          left: 0;
          bottom: 0px;
          right: 59%;
          width: auto;
          background-size: 100% 100%;
        }
      }
    }
    &__img{
      margin-bottom: 20px;
      float: right;
      img{
        width: 100%;
        max-width: 570px;
      }
    }
  }
}
//end example responsive css
/*---------- end example css ----------*/