/*---------- example css ----------*/
.c-landing-footer{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  overflow-x: hidden;
  &__left{
    display: none;
    img{
      width: 100%;
    }
  }
  &__circle{
    margin: 0 auto 20px auto;
    width: 300px;
    height: 300px;
    @include border-radius(50%);
    @include linear-gradient(to bottom, $color-primary-1, $color-primary);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    &__title{
      text-transform: uppercase;
      font-weight: 600;
      color: $color-white;
      font-size: 20px;
      text-align: center;
      margin-bottom: 15px;
    }
    &__logo{
      a{
        display: inline-block;
        padding: 0 10px;
        img{
          max-width: 49px;
          max-height: 49px;
        }
      }
    }
  }
}
//example responsive css
@media (min-width: $screen-sm-min){//mobile lanscape

}
@media (min-width: $screen-md-min){//ipad portrait
  .c-landing-footer{
    &__left{
      display: block;
      width: 50%;
      float: left;
      img{
        max-width: 590px;
      }
    }
    &__right{
      width: 50%;
      float: right;
    }
  }
}
@media (min-width: $screen-lg-min){//ipad lanscape & pc 1024x768px

}
@media (min-width: $screen-xl-min){//pc & mac 1280px grow up
  .c-landing-footer{
    &__circle{
      width: 400px;
      height: 400px;
      &__title{
        font-size: 24px;
      }
    }
  }
}
@media (min-width: $screen-xxl-min){//pc & mac 1280px grow up
  .c-landing-footer{
    &__left{
      img{
        max-width: 690px;
      }
    }
  }
}
//end example responsive css
/*---------- end example css ----------*/